.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  .header-links{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .header-links ul{
      list-style-type: none;
  }
  .headerBtn{
    position: absolute;
	right:15px;
	top: 15px;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 35px;
	background: #fc7941;
	color:#fff;
	text-align: center;
	line-height: 35px;
	border-radius:3px;
	font-size: .8rem;
	/* box-shadow: 0 3px 6px rgba(252,121,65,6); */
  }
